body {
    background-color: #1E1E1E;
    color: #D4D4D4;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    text-align: justify;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #474747;
}

a {
    color: #3794FF
}

button {
    min-width: 25px;
    margin: 2px;
}

select {
    overflow: auto;
}

fieldset {
    display: flex;
    flex-direction: row;
    border: 1px solid #474747;
    border-radius: 5px;
}

fieldset select {
    width: 100%;
}

form > fieldset > input {
    flex-grow: 1;
    margin-right: 10px;
}

select {
    background-color: transparent;
    border: 0 none;
    min-height: 40vh;
}

select:not(:disabled) > option {
    color: #D4D4D4;
}

select:disabled {
    background-color: transparent;
    border: 0 none;
    min-height: 40vh;
}